*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navhome{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar{
    gap:60px;
    position: relative;
}


.picture{
  position: absolute;
  top: 15px;
  right: 20px;
}


nav{
    background-color: orangered;
    height: 70px;
}

a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}



.welcome{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    font-family: "Brush Script MT", cursive;
    font-size: 100px;
}

body{
    background-color: antiquewhite;
}

#para{   
   text-align: center;
   font-size: small;
   margin-bottom: 20px;
}

.product{
    border: 1px solid black;
    border-radius: 12px;
    max-width: fit-content;
    width: 25%;
    height: 310px;
    box-shadow: 5px 5px hsl(0, 0%, 20%);
    display: inline-block;
    margin: 50px;
    padding: 50px;
    
}
footer{
    text-align: center;
    padding: 5px;
    background: #222;
    color: white;
    font-size: small;
    margin-top: 50px;
}

#para2{
    text-align: center;
    margin-top: 50px;
}
.about {
    text-align: center;
}

#aboutus{
    margin-top: 30px;
    text-align: center;
}

#about_para{
    text-align: center;
    margin-top: 50px;
}

html{
    scroll-behavior: smooth;
}

#backToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: chocolate;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: none;/*hides at first*/ 
}

#backToTop:hover{
    background-color: #555;
}

.under{
    text-align: center;
    margin-top: 40px;
}

#mail{
    color:black;
}

#contact{
    margin-left: 20px;
    margin-top: 40px;
    padding: 20px;
}

#contactus{
    margin-bottom: 20px;
}

#btn{
    border: none;
    color: white;
    background-color: brown;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    position: fixed;
    top: 80px;
    right: 40px;
}

.add{
     border: none;
    color: black;
    background-color: chocolate;
    border-radius: 10px;
    max-width: fit-content;
    height: 40px;
    margin-top: 60px;
}

.banana{
    width: 89px;
    height: 89px;
    border-radius: 10px;
}

.parfait{
    width: 89px;
    height: 89px;
    border-radius: 10px;
}

.drink{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}

.unsweet{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}

.sweet{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}

.Salad{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}

.granola{
    width: 89px;
    height: 89px;
    border-radius: 10px;
}

.food{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}
.diffuser{
     width: 89px;
    height: 89px;
    border-radius: 10px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}